.App {
  display: flex;
  width: 100%;
  height: 100%;
  background: #6d679b;
  text-align: center;
}

.App h1 {
  color: #000;
  text-shadow: 0 0 7px #ffffff70;
}

.App .wrapper {
  margin:20px auto;
  max-width: 400px;
  width: 100%;
  padding: 0 15px;

}
.form-add {
  display: flex;
  width: 100%;
  margin: 0 auto;
}
.form-add input{
  flex: 1;
  height: 42px;
  border: transparent;
  border-radius: 5px 0 0 5px;
  outline: none;
  padding: 5px 10px;
  box-sizing: border-box;
}

.form-add button {

  height: 42px;
  width: 70px;

  color: #fff;
  font-size: 18px;
  cursor: pointer;
  background: none;
  border: 1px solid #fff;
  border-radius: 0 5px 5px 0;
  box-sizing: border-box;
}

.form-add button:hover {
  background: #5e5891;
}

.task-list {
  margin-top: 15px;
}

.task-item {
  display: flex;
  align-items: center;
  height: 42px;
  margin-bottom: 8px;
  padding: 5px 10px;

  border-radius: 5px;
  background: #fff;
  box-sizing: border-box;
}

.icon-delete {
  margin-left: auto;
  cursor: pointer;
}

.icon-delete svg:hover {
  fill:red;
}